>
body {
    font-family: 'Arial', sans-serif;
    width: 70%;
    margin: 20px auto;
    background-color: #1a1a1a;
    color: #fff;
}
h1 {
    text-align: center;
    color: #ffcc00;
}
form {
    background-color: #a3a3a3;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
}
fieldset {
    margin-bottom: 1.5em;
    padding: 1em;
    border: 1px solid #ffcc00;
    border-radius: 10px;
}
legend {
    font-weight: bold;
    color: #ffcc00;
}
label {
    display: block;
    margin: 5px 0;
}
input[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #ff9900;
}
select, input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

li>b:hover {
    color: #e67e22;
    cursor: pointer;
}
